@model IEnumerable<SerwisGitar.Models.DbModels.Gallery>

@{
    ViewBag.Title = "Index";
}

<h2>Galerie</h2>

<p>
    @Html.ActionLink("Dodaj nową", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th>
                Nazwa
            </th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edytuj", "Edit", new { id = item.GalleryId }) |
                @Html.ActionLink("Usuń", "Delete", new { id = item.GalleryId })
            </td>
        </tr>
    }

</table>
