
@{
    ViewBag.Title = "Menu admina";
}

<ul class="list-group">
    <li class="list-group-item"><a href="@Url.Action("ContentEditor")">Edytor stron</a></li>
    @*<li class="list-group-item">Dapibus ac facilisis in</li>*@

</ul>
