
@{
    ViewBag.Title = "Menu admina";
}

<ul class="list-group">
    <li class="list-group-item"><a href="@Url.Action("ContentEditor")">Edytor stron</a></li>
    <li class="list-group-item"><a href="@Url.Action("Index", "Images")">Zdjęcia</a></li>
    <li class="list-group-item"><a href="@Url.Action("Index", "Galleries")">Galerie</a></li>
    <li class="list-group-item"><a href="@Url.Action("EditMainGallery", "Admin")">Galeria główna</a></li>
    @*<li class="list-group-item">Dapibus ac facilisis in</li>*@

</ul>
