
@{
    ViewBag.Title = "Personalizowanie gitary";
}

<form>
<h2 class="mainCaption">Kształt główki</h2>
    @*<div class="form-check form-check-inline">
        <label class="form-check-label" for="inlineRadio1">
            <img class="card-img-top" src="~/Content/temp/glowki/fu 1.png" alt="Card image cap">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <div class="card-body">
                <h5 class="card-title">nazwa przedmiotu</h5>
                <p class="card-text">cena/krótki opis</p>
            </div>
        </label>
    </div>
    
    <div class="form-check form-check-inline">
        <label class="form-check-label" for="inlineRadio2">
            <img class="card-img-top" src="~/Content/temp/glowki/fu 1.png" alt="Card image cap">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <div class="card-body">
                <h5 class="card-title">nazwa przedmiotu</h5>
                <p class="card-text">cena/krótki opis</p>
            </div>
        </label>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
        <label class="form-check-label" for="inlineRadio2">2</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" disabled>
        <label class="form-check-label" for="inlineRadio3">3 (disabled)</label>
    </div>*@
    <div class="grid-body form-check">
        <label class="card" for="1">
            <img class="card-img-top" src="https://www.instrumentrentalbarcelona.com/wp-content/uploads/2018/02/Ibanez-PF15-ECE-NT-Electro-Acoustic-Guitar-front.jpg" alt="Card image cap">
            <input type="radio" id="1" name="1" value="jeden"/>
            <div class="card-body">
                <h5 class="card-title">nazwa przedmiotu</h5>
                <p class="card-text">cena/krótki opis</p>
            </div>
        </label>   
        <label class="card" for="2">
            <img class="card-img-top" src="https://www.instrumentrentalbarcelona.com/wp-content/uploads/2018/02/Ibanez-PF15-ECE-NT-Electro-Acoustic-Guitar-front.jpg" alt="Card image cap">
            <input type="radio" id="2" name="1" value="dwa" />
            <div class="card-body">
                <h5 class="card-title">nazwa przedmiotu</h5>
                <p class="card-text">cena/krótki opis</p>
            </div>
        </label>
    </div>
    <button>aa</button>

</form>

<style>

    .grid-body {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-gap: 20px;
        cursor: pointer;
        /*border: 1px solid red;*/
    }

    [type=radio] {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
    }

    .card img {
        width: 100%;
    }


    .mainCaption {
        width: 100%;
        border-bottom: 2px solid rgba(0, 0, 0, 1);
        border-radius: 0 4px;
        
    }


    .bagno {
        -webkit-box-shadow: 0px 0px 31px -9px rgba(0,0,0,1);
        -moz-box-shadow: 0px 0px 31px -9px rgba(0,0,0,1);
        box-shadow: 0px 0px 31px -9px rgba(0,0,0,1);
    }
</style>

@section Scripts{
    <script>

        var labels = $('label');

        $(labels).on('click', function () {
            LabelManager(labels, $(this));
        });


        function LabelManager(arrayOfLabels, clickedElement) {
            for (var i = 0; i < arrayOfLabels.length; i++) {
                $(arrayOfLabels[i]).removeClass("bagno");
            }

            $(clickedElement).addClass("bagno");
        }
    </script>
}