body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*------------*/

.itemContainter {
    width: 100%;
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 20px;
}

    .itemContainter img {
        /* width: 200px; */
        width: 10rem;
        margin-right: 20px;
    }

.textHolder p {
    text-align: justify;
}

.item, .textWithImg {
    display: flex;
    justify-content: center;
    align-items: center;
}

    .textWithImg img {
        width: 50%;
    }

    .textWithImg:nth-child(odd) p {
        margin: 20px;
    }

.mapouter {
    display: flex;
    /*height: 500px;*/
    width: 100%;
    justify-content: space-between;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    /*height: 500px;*/
    width: 50%;
}

#gmap_canvas {
    width: 100%;
    height: 400px;
}

@media screen and (max-width: 600px) {
    .mapouter, .item {
        flex-direction: column;
    }



    .itemContainter img {
        margin-bottom: 20px;
        margin-right: 0;
    }
}

@media screen and (max-width: 992px) {

    .mapouter {
        flex-direction: column;
    }

    .gmap_canvas {
        width: 100%;
    }

    .textWithImg {
        flex-direction: column;
    }

        .textWithImg img {
            width: 100%;
            margin: 0 0 1rem;
        }

        .textWithImg:nth-child(odd) img {
            margin-right: 0;
        }

        .textWithImg:nth-child(even) img {
            margin-left: 0;
        }
}
