@model SerwisGitar.Models.DbModels.ContentEditor
@{
    ViewBag.Title = "O nas";
}

<button class="btn btn-danger">Do wypełnienia tej strony nalezy uzyc content editora w panelu admina (link Edytor stron)</button>

@Html.Raw(Model?.Content)
