@model SerwisGitar.Models.IndexViewModel
@{
    ViewBag.Title = "Zarządzaj";
    ViewBag.MarginTop = 0;
}

<h2>@ViewBag.Title.</h2>

<div class="row">
    <div class="col-3">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="true">Zmiana hasła</a>
            <a class="nav-link" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="false">Moje zamówienia</a>
            @*<a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Baza danych</a>*@
            @*<a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a>*@
        </div>
    </div>
    <div class="col-9">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                @Html.Action("ChangePassword")
            </div>
            <div class="tab-pane fade" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                @Html.Action("MyOrders", "Orders")
            </div>
            @*<div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            </div>*@
        </div>
    </div>
</div>

<style>
    @@media screen and (max-width: 768px) {

        .row {
            display: flex;
            flex-direction: column;
        }

        .nav-link {
            width: 80vw;
        }
    }

</style>