@model SerwisGitar.Models.DbModels.PartType

@{
    ViewBag.Title = "Usuń";
}


<div>
    <h4>Czy jesteś pewien, że chcesz to usunąć?</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
        Nazwa
            </dt>


        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-danger" /> |
            @Html.ActionLink("Wróć", "Index", null, new { @class="btn btn-primary"})
        </div>
    }
</div>
